<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

     <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- For Bootstrap responsiveness -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title %></title>
    <%= favicon_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>

  </head>

  <body class="<%= page_classes %>">

    <div class="container navbar">
      <div class="profile-pic">
        <%= image_tag "profile_pic.jpg", class: "avatar" %>
        <h2><%= link_to "Adalberto GONZALEZ LUNA", "index.html"  %></h2>
      </div>
      <ul class="list-inline">
          <li><h4>Recherches</h4></li>
          <li><h4><%= link_to "Projets Web", "web.html"  %></h4></li>
          <li><h4>Contact</h4></li>
      </ul>
    </div>

    <%= yield %>

  </body>
</html>
