<div class="containe text-center">
  <div class="profile-pic">
    <%= image_tag "profile_pic.jpg", class: "avatar-large" %>
    <h2><%= link_to "Adalberto GONZALEZ LUNA", "index.html"  %></h2>
    <ul class="list-inline container">
      <li><h5><%= link_to "Bio", "index.html"  %></h5></li>
      <li><h5><%= link_to "Recherches", "recherches.html"  %></h5></li>
      <li><h5><%= link_to "Projets Web", "web.html"  %></h5></li>
      <li><h5><%= link_to "Contact", "mailto:bonjour@adalbertogonzalez.com", target: "blank"  %></h5></li>
    </ul>
  </div>
</div>
