---
title: Adalberto Gonzalez | FullStack Web Developer
---
<div class="profile padded text-center">
  <div class="container">
    <div class="row">

        <%= image_tag "profile_pic.jpg", class: "avatar-large" %>


        <div class="resume text-center">
          <h1>Développeur Web FullStack</h1>
          <p>Salut, je suis Adalberto GONZALEZ, développeur web fullstack. Je suis spécialisé dans le développement d'applications web avec Ruby on Rails. <br> J'ai aussi des connaissances en HTML, Bootstrap et JavaScript. <br><strong>Je suis disponible pour des nouveaux projets ou pour rejoindre votre équipe</strong></p>
          <%= link_to "Télécharger mon CV", "https://drive.google.com/file/d/0BzGr7DO2aIi3M3l0R01JcWtQaXM/view?usp=sharing", class: "btn btn-primary", target: "blank"  %>
        </div>

    </div>
  </div>
</div>

<div class="features text-center padded">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 skill">
        <ul class="list-inline">
          <li><%= image_tag "ruby.svg" %></li>
          <li><%= image_tag "ror.svg" %></li>
          <li><%= image_tag "postgresql.svg" %></li>
        </ul>
        <h3>Développement web</h3>
        <p>Besoin d'une app web adaptée à votre idée de business ? Avec la puissance de Ruby on Rails, nous la rendrons réelle</p>
      </div>
      <div class="col-md-3 col-sm-12 skill">
        <ul class="list-inline">
          <li><%= image_tag "responsive.svg" %></li>
          <li><%= image_tag "bootstrap.svg" %></li>
          <li><%= image_tag "sass.svg" %></li>
        </ul>
        <h3>Responsive <br> design</h3>
        <p>J'utilise les dernières technologies et frameworks pour que votre site s'adapte à tous les écrans (pc, tablette, téléphone)</p>
      </div>
      <div class="col-md-3 col-sm-12 skill">
        <ul class="list-inline">
          <li><%= image_tag "code.svg" %></li>
          <li><%= image_tag "git.svg" %></li>
          <li><%= image_tag "github.svg" %></li>
        </ul>
        <h3>Approche <br> Agile</h3>
        <p> Bonnes pratiques : Itérations courtes, Flexibilité et adaptation, Déploiement continu…</p>
      </div>
      <div class="col-md-3 col-sm-12 skill">
        <ul class="list-inline">
          <li><%= image_tag "heroku.svg" %></li>
          <li><%= image_tag "aws.svg" %></li>
          <li><%= image_tag "redis.svg" %></li>
        </ul>
        <h3>Outils <br> adaptés</h3>
        <p>Heroku, AWS, Cloudinary, Mailers, Algolia... J'utilise le bon outil pour la bonne raison</p>
      </div>
    </div>
  </div>
</div>

<div class="cards text-center padded">
  <h2>Realisations</h2>

  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "yachts.jpg" %>'); background-size: cover;">
        <div class="card-category">Fullstack</div>
        <div class="card-description">
          <h2>Yacht & Crew </h2>
          <p>Book your yacht and have fun</p>
        </div>
        <%= link_to "", "https://yacht-and-crew.herokuapp.com/", class: "card-link", target: "blank" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "agora.jpg" %>'); background-size: cover;">
        <div class="card-category">Fullstack</div>
        <div class="card-description">
          <h2>Agora</h2>
          <p>Learn by sharing</p>
        </div>
        <%= link_to "", "http://www.agora-learn.eu/", class: "card-link", target: "blank" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "apuntes.jpg" %>'); background-size: cover;">
        <div class="card-category">Frontend</div>
        <div class="card-description">
          <h2>Apuntes de Viajes</h2>
          <p>Viaja por el mundo</p>
        </div>
        <%= link_to "", "http://www.apuntesdeviajes.com/", class: "card-link", target: "blank" %>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12 col-md-offset-4">
      <div class="newsletter padded text-center">
        <h2>Entrez en contact</h2>
        <p>N'hésitez pas à me contacter pour me parler de votre projet ou de votre entreprise</p>
        <%= link_to "Contactez-moi", "mailto:bonjour@adalbertogonzalez.com", class: "btn btn-primary", target: "blank"  %>
      </div>
    </div>
  </div>
</div>
